---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:	"pragmatica-web", Helvetica Neue, Helvetica, Arial, sans-serif;
$emoji-font-family:     "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";

$base-font-size:	16px;
$small-font-size:	$base-font-size * 0.875;
$base-line-height:	1.5;

$spacing-unit:		20px;

$background-color:	#ffffff;

$grey-color-dark:	#111;
$grey-color-mid:	#777;
$grey-color-mid-light:  #AAA;
$grey-color-light:	#DDD;

// Width of the content area
$content-width:		960px;

$on-phone:              400px;
$on-palm:               601px;
$on-laptop:             800px;

$font-weight-light:	200;
$font-weight-reg:	300;
$font-weight-med:	400;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "layout",
        "header",
        "footer",
        "grid",
        "thumbnails",
        "syntax-highlighting",
        "post",
        "photo"
;
