---
layout: default
title: Portfolio
---

<h1 class="span_1">
	My Work
</h1>

<div class="p-container">
	<p>
		Below are a select few case studies of my past work. My most up to date work and experiments can be found on my <a href="http://dribbble.com/kishpatel" class="dribbble" target="_blank">Dribbble</a> page.
	</p>

	<h2>TransferWise</h2>

	{% for post in site.posts %}

		{% if post.project == "TransferWise" %}

			<p>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</p>

		{% endif %}

	{% endfor %}

	<h2>Personal Projects</h2>

	{% for post in site.posts reversed %}

		{% if post.project == "Personal Project"%}

			<p>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</p>

		{% endif %}

	{% endfor %}

</div>
